.container .main {
    color: yellowgreen;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

a {
    color: olivedrab;
}

a:hover {
    color: rgb(4, 69, 95);
}
.container .main h1 {
    color: darkgreen;
    font-size: 50px;
}

.container .main .dbutton {
    background-color: darkgray;
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    
}

.container .main .dbutton:hover {
    background-color: rgb(2, 41, 15);
}

.container .main .lbutton {
    border-radius: 10px;
    border: 0; 
    padding: 10px;
    color: darkgray;   
}

.container .main .lbutton:hover {
    background-color: rgb(2, 41, 15);
}

.container .main .onoff {
    border-radius: 10px;
    border: 0; 
    padding: 10px;
    color: pink;
    background-color: purple;
}

.container .main .onoff:hover {
    background-color: white;
}

.container .main .sbutton {
    border-radius: 10px;
    border: 0; 
    padding: 10px;
    color: saddlebrown;
    background-color: darksalmon;
}

.container .main .sbutton:hover {
    background-color: white;
}